<!-- <script type='text/javascript'>
console.log('bbbbbbbbbbbbbb');
    window.onload = function () {

    $.ajax({
        url: 'http://localhost:5555/auth/secured',
        dataType: 'json',
        timeout: 10000,
        headers: {
            'token': localStorage.access_token
        }
    }).done((data) => {
        console.log('data', data);
    })
    }
</script> -->
<div class="utils-container">
    <a href="/admin/categories/add" class="btn btn-primary">Hi Admin</a>
</div>




